.git
.gitignore
.gitattributes
node_modules
.turbo
.next
.astro
dist
.crush
.agents
*.md
.vscode
.github
.crush
.env
.env.*
.DS_Store
apps/cms/.next
apps/cms/node_modules
apps/web/node_modules
apps/web/.astro
apps/web/dist
packages/*/node_modules
