# Beter Hack Club Auth
HACKCLUB_CLIENT_ID=from_hca
HACKCLUB_CLIENT_SECRET=from_hca
BETTER_AUTH_SECRET=randomly_generated_by_ba
BETTER_AUTH_URL=http://localhost:4000

RSS_ACCESS_TOKEN=something_really_long_goes_here

