{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "tabWidth": 2,
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
